@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
:root {
    --background: #355C7D;
    --pinkish: #C06C84;
}

html {
    width: 340px;
    height: 340px;
    background-color: var(--background);
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
#popup-content {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
}
.link_addProject {
    background: transparent;
    font-weight: bold;
    border: transparent;
    color: var(--pinkish);
    font-size: 180px;
    padding-top: 10px;
    text-decoration: none;
}

#title-content {
    text-align: center;
    font-weight: normal;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#section_newProject {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 330px;
}

#saveButton {
    font-family: 'Indie Flower', cursive;
    width: 70px;
    height: 30px;
    border:none;
    border-radius: 5px;
    font-size: large;
    background-color: var(--pinkish);
    border-style: solid;
    margin-top: 20%;
    margin-left: 40%;
    cursor: pointer;
}

label {
    font-size: 20px;
    padding: 5px;
}

input {
    border-radius: 15px;
    width: 270px;
    height: 25px;
    font-family: 'Merriweather', serif;
}